
.row {
    display: flex;
}

.row div {
    height: 80px;
    outline: 2px solid blue;
    flex: auto;
}

.highlight {
    background-color: lightpink;
    outline: 2px solid blue;
}

.no-highlight {
    background-color: white;
    outline: 2px solid blue;
}